[submodule "src/ext-deps/stb"]
	path = src/ext-deps/stb
	url = https://github.com/nothings/stb
[submodule "docs/slides/reveal.js"]
	path = docs/slides/reveal.js
	url = https://github.com/hakimel/reveal.js.git
